body {
  background-color: aqua;
}

.paragraph {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: blueviolet;
}

.text {
  width: 320px;
  padding: 10px;
  border: 5px solid blue;
  margin: 2;
}

.bird {
 border-radius: 50%;
 max-width: 100%;
 height: auto;
}

.image {
  width: 400x;
  padding: 10px;
  border: 5px solid blue;
  margin: 0;
} 

.different types of birds {
  border-collapse: collapse;
  width: 100%;
}
